<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Create Project</title>
</head>
<body>
	<form action="/project" method='POST'>
		<label for="title">Title</label>
		<input type="text" name='title'>
	</form>
</body>
</html>