<link rel="stylesheet" href="/index.css">
<script src='/index.js'></script>
<h1>Welcome</h1>


<form action='/login' method='POST'>

	<label for='username'>Username</label>
	<input type="text" name='username'>
	<label for="password">Password</label>
	<input type="password" name='password'>
	<button>Sign In</button>
</form>

<p> or </p>

<a href="/signup"> Sign Up </a>