<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=@project.title%></title>
	<link rel="stylesheet" href="/css/project.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
	<div class="header">
		<h1>Here peeps</h1>
		<input id='inviteInput' type='text' placeholder='invite user'>
		<input id='project_id' type="hidden" value="<%=@project.id%>">
	</div>
	<div id="canvas-div"></div>
	<script type='text/javascript'>
	 	var key = "<%= @project.keycode %>";
	 </script>

	 <script src='/js/drawing.js'></script>
</body>
</html>