<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testing</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/test.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>


<body>
  <div class="header">
    <a href="/dashboard" id="back" class='tool-header'><h3>Back</h3></a>
    <h3 id="name" class='tool-header'>First Board</h1>
    <input id='inviteInput' class='top' type='text' placeholder='invite user'>
    <div id="tool-box" class='tool-header'>
      <ul id="tool-bar">
        <li id="eraser" class='tools'><div class="abs-center-div"><i class="fa fa-eraser fa-3x abs-center"></i></div><div></li>
        <li id="colors" class='tools'>
          <div class='abs-center-div'><div id='current-color' class="color red abs-center"></div></div>
          <ul id='all-colors'>
            <li class='change-color' id='blue'><div class='abs-center-div'><div class="color blue abs-center"></div></div></li>
            <li class='change-color' id='green'><div class='abs-center-div'><div class='color green abs-center'></div></div></li>
            <li class='change-color' id='red'><div class='abs-center-div'><div class='color red abs-center'></div></div></li>
            <li class='change-color' id='purple'><div class='abs-center-div'><div class='color purple abs-center'></div></div></li>
          </ul>
        </li>
        <li id="sizes" class='tools'><div class="abs-center-div"><i class="fa fa-pencil fa-3x abs-center"></i>
          </div><ul id='all-sizes'>
            <li><div class="size thick" id='thick'>Thick</div></li>
            <li><div class="size medium" id='medium'>Medium</div></li>
            <li><div class="size thin" id='thin'>Thin</div></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

    <div id="canvas-div"></div>
    </div>
    <script type='text/javascript'>
    </script>

     <script src='/js/test.js'></script>
     <scriptsrc='/js/drawing.js'></script>
</body>
</html>