h1{
	color: white;
}
.create-new{
	margin: 0;
	margin-bottom: 5px;
	/*line-height: 0;*/
}

.white{
	color: white;
}

.inline{
	display: inline-block;
}

.header {
	background-color: #191919;
	height: 60px;
}

a{
	text-decoration: none;
	color: white;
}
a:hover{
	text-decoration: none;
	color: white;
}

/*.logout-form{
	height: 100%;
}*/

#logout{
	position: absolute;
	top: 15px;
	right: 10px;
}

.container{
	overflow: hidden;
}

.inline{
	display: inline-block;
}

.project {
	height: 100px;
	padding: 20px;
	min-height: 150px;
	/*background-color: #1919ff;*/
	background-color: #7e7e7e;
	border: 10px solid white;
	border-radius: 15px;
}

.project:hover{
	background-color: #3f3f3f;
}

.right-sidebar{
	border-radius: 5px;
	background-color: #5bc0de;
}


